body{
    margin: 0px;
    padding: 0px;
    background-color: white;
}

#container{
    width: 973px;
    height: auto;
    margin: auto;
    font-family: sans-serif;
    margin-top: 30px;

}

header{
    width: 973px;
    height: 150px;
    padding: 0px;
    margin-bottom: 20px;
    background-image: url(Untitled-1.jpg);
}

nav{
    width: 973px;
    height: 35px;
    margin-bottom: 5px;
       line-height: 15px;
}

nav ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
   
}

nav ul li{
    float: left;
   

}

nav ul li a{
    text-decoration: none;
    display: block;
    font-size: 13px;
    line-height: 25px;
    font-weight: bold;
    color: white;
    width: 139px;
    background-color:black;
    margin-top: 5px;
    text-align: center;
   
}

nav ul li a:hover{
    background-color: orangered;
    border-bottom: 5px solid yellow;
    margin-top: 0px;
  
}

section{
width: 973px;
height: auto;
background-color: white;
padding-top: 5px;
}

article{
    font-size: 12px;
    line-height: 15px;
    background-color: gray;
    text-align: justify;
    padding: 5px;
    width: 963px;
    height: 500px;
    float: left;
    margin-bottom: 5px;
}

footer{
    background-color: white;
    text-align: center;
    width: 973px;
    height: 150px;
    float: left;
    margin-top: 3px;
}

img{display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    padding-top: 60px;
}